---
title: Altoros AWS S3 for Pivotal Platform (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>WARNING! </strong>
The Altoros AWS S3 for Pivotal Platform tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a Pivotal Platform production environment.
</p>

This documentation describes Altoros AWS S3 for Pivotal Platform.

Altoros AWS S3 for Pivotal Platform registers a service broker on Pivotal Platform and exposes its service plans on the Marketplace. Developers can provision buckets by creating instances of service plans using Apps Manager or the cf Command Line Interface (CLI) tool.

## <a id='overview'></a>Overview

Altoros AWS S3 for Pivotal Platform includes the following key features:

* Provision private AWS S3 buckets.
* Provision public AWS S3 buckets.

## <a id="snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.6.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 13, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.6.4</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.2.x, v2.3.x, v2.4.x, v2.5.x, v2.6.x and v.2.7.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v2.2.x, v2.3.x, v2.4.x, v2.5.x, v2.6.x and v.2.7.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Altoros AWS S3 for Pivotal Platform has the following requirements:

+ [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime) v2.2.x, v2.3.x, v2.4.x, v2.5.x, v2.6.x and v.2.7.x

## <a id="feedback"></a>Feedback

Report bugs, make feature requests, or ask questions on the
[Pivotal Platform Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).
