---
title: Altoros AWS S3 for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>WARNING! </strong>
The Altoros AWS S3 for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes Altoros AWS S3 for Pivotal Cloud Foundry (PCF).

Altoros AWS S3 for PCF registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can provision buckets by creating instances of service plans using Apps Manager or the cf Command Line Interface (CLI) tool.

## <a id='overview'></a>Overview

Altoros AWS S3 for PCF includes the following key features:

* Provision private AWS S3 buckets.
* Provision public AWS S3 buckets.

## <a id="snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 30, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.6.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Altoros AWS S3 for PCF has the following requirements:

+ [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime) v1.10, v1.11 or v1.12

## <a id="feedback"></a>Feedback

Report bugs, make feature requests, or ask questions on the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).
