---
title: Installing and Configuring Altoros AWS S3 for PCF
owner: Partners
---

This topic describes how to install and configure Altoros AWS S3 for PCF.

##<a id='install'></a> Install and Configure Altoros AWS S3 for PCF

1. Create a new IAM user for the PCF cluster in the AWS Identity & Access Management. For steps required to create IAM user, see the [Creating an IAM User in Your AWS Account](http://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html).
When you create an IAM user, IAM returns the access key ID and secret access key. You should save these keys, they will be required in the next steps.
Assign the following policy to this new IAM user:

    ```json
    {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Sid": "manageBucketsAndObjectsInBuckets",
          "Effect": "Allow",
          "Action": [
            "s3:*"
          ],
          "Resource": "*"
        },
        {
          "Sid": "manageUsersForBinding",
          "Action": [
            "iam:GetUser",
            "iam:CreateUser",
            "iam:DeleteUser",
            "iam:ListAccessKeys",
            "iam:CreateAccessKey",
            "iam:DeleteAccessKey",
            "iam:CreatePolicy",
            "iam:DeletePolicy",
            "iam:ListAttachedUserPolicies",
            "iam:AttachUserPolicy",
            "iam:DetachUserPolicy"
          ],
          "Effect": "Allow",
          "Resource": "*"
        }
      ]
    }
    ```

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros AWS S3 for PCF.
This adds the tile to your staging area.

1. Click the newly added **Altoros AWS S3 for PCF** tile.

##<a id="aws-config"></a>AWS Configuration

1. Click **AWS S3 Configuration**.
2. Enter the **Access Key ID** and the **Secret Access Key** from Step 1.
3. For **Region**, select the AWS region to use.
4. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Altoros AWS S3 for PCF.
