---
title: Release Notes for Altoros AWS S3 for Pivotal Platform
owner: Partners
---

##<a id="ver"></a> v0.6.4

**Release Date:** May 13, 2019

Features included in this release:

* Compartible with Pivotal Platform 2.5.x
* Colocated errands for faster deployment

##<a id="ver"></a> v0.6.3

**Release Date:** April 26, 2019

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial

##<a id="ver"></a> v0.6.2

**Release Date:** November 22, 2017

Features included in this release:

* Added support of new AWS partition formats

##<a id="ver"></a> v0.6.0

**Release Date:** October 30, 2017

Features included in this release:

* Added Pivotal Platform Ops Manager 1.12 and Pivotal Platform Elastic Runtime 1.12 support
* Updated stemcell to 3445

##<a id="ver"></a> v0.5.2

**Release Date:** August 16, 2017

Features included in this release:

* Remove the minor version number from stemcell criteria to allow the user to apply stemcell security patches

##<a id="ver"></a> v0.5.1

**Release Date:** July 31, 2017

Features included in this release:

* Added Pivotal Platform Ops Manager 1.11 and Pivotal Platform Elastic Runtime 1.11 support
* Fixed failing Smoke Tests errand

##<a id="ver"></a> v0.5.0

**Release Date:** May 15, 2017

Features included in this release:

* On-Demand service instance provisioning
* Requires stemcell 3312.12
* Supports Pivotal Platform v1.8.x and later
